@tailwind preflight;

@tailwind components;

.transition {
  transition: all 0.2s;
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.3s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

@variants responsive {
  .sticky {
    position: sticky;
  }
}

@variants hover, group-hover {
  .lift {
    transform: translateY(-2px);
    box-shadow: 0 28px 35px -20px rgba(0,0,0,.5),0 5px 15px 0 rgba(0,0,0,.1)!important;
  }
}

@tailwind utilities;